<section class="row author valign-wrapper" itemprop="author">
  <div class="col s12 m12" itemscope itemtype="http://schema.org/Person">
    <div class="col s12 m4 author-img-wrapper offset-m1 l4 offset-l1">
      <img itemprop="image" src="{{site.profile_img_url}}" alt="{{site.name}}" class="circle author-img responsive-img">
    </div>
    <div class="col s12 m7 author-info">
      <h5 class="">Autor</h5>
      <h3 class="white-text author-name">{{ site.name }}</h3>
      <p class="white-text author-description">{{ site.user_description }}</p>
      <div class="contact-info">
        <a href="https://github.com/{{site.github_username}}" class="social-media-icon" target="_blank">
          <div class="github-btn btn-white">
          </div>
        </a>
        <a href="https://www.facebook.com/{{site.fb_username}}" class="social-media-icon" target="_blank">
          <div class="fb-btn btn-white">
          </div>
        </a>
        <a href="https://twitter.com/{{site.twitter_username}}" class="social-media-icon" target="_blank">
          <div class="twitter-btn btn-white">
          </div>
        </a>
        <a href="https://www.instagram.com/{{site.instagram_username}}" class="social-media-icon" target="_blank">
          <div class="instagram-btn btn-white">
          </div>
        </a>
        <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="social-media-icon" target="_blank">
          <div class="linkedin-btn btn-white">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

