.card-title {
  color: rgba(0, 0, 0, 0.87);
}

.card-hoverable {
  position: relative; /* For positioning the pseudo-element */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  .post-link-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.card-hoverable::before {
  /* Position the pseudo-element. */
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Create the box shadow at expanded size. */
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 500ms;
}

.card-hoverable:hover::before {
  /* Show the pseudo-element on hover. */
  cursor: pointer;
  opacity: 1;
}

.btn-floating {
  background-color: var(--secondary-color);
}

.nested-btn {
  width: 36px !important;
  height: 22px !important;
  margin-top: 8px;
}

a.post-link {
  text-decoration: none;
  position: relative;
}

.card-content {
  background-color: var(--card-color);

  .card-title {
    color: var(--main-text-color);
  }

  .post-description {
    color: var(--main-text-color) !important;
  }
}
