.card-title {
  color: rgba(0, 0, 0, 0.87);
}

.hoverable {
  overflow: hidden;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 0 0 0 rgba(0, 0, 0, 0);
}

.hoverable:hover .card-image img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.card-image img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.btm-menu {
  .btn-floating {
    background-color: $secondaryColor;
  }
}
.nested-btn {
  width: 36px !important;
  height: 22px !important;
  margin-top: 8px;
}

.post-description {
  color: rgba(0, 0, 0, 0.87) !important;
}

.read-more {
  color: $mainColor !important;
}

a.post-link {
  text-decoration: none;
}
