.nav-wrapper {
  z-index: 150;
  background-color: $mainColor;

  li a {
    color: $lighterMainColor;
  }

  #nav-mobile {
    a {
      color: #000;
    }
  }
}

.main-nav {
  height: 64px;
  z-index: 150;
  margin-bottom: -64px;
  position: fixed;
  top: 0;
}

.brand-logo {
  color: #444;
  margin-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.button-collapse {
  color: $lighterMainColor;
}

@media only screen and (max-width : 537px) {
  .brand-logo{
    width: 65%;
  }
}
