.main-top {
  background-color: $lighterMainColor;
  height: 200px;
  float: left;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding-top: 120px;
}

.content {
  background-color: #fff;
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  overflow: hidden;
  z-index: 9;
  margin-top: -120px;
  margin-bottom:50px;
  width: auto;
  position: relative;
  display: inline-block;
  padding: 50px 0 0 0;
}

.post > .row {
  margin-bottom: 0px;
}

.container-main {
  position:relative;
}

section {
  margin-top: 25px;
}
