.tags-collection {
  padding: 50px 25px 100px 25px;
}

.tagged-posts {
  .tag-title {
    font-weight: 200;
    font-size: 40px;
    padding-top: 80px;
}

  li {
    transition: 0.4s ease;
    margin-bottom: 50px;
    border-bottom: 1px solid $lighterMainColor;
    line-height: 50px;
  }

  li:hover{
    border-bottom-color: #8d6e63;
  }

  .post-title {
    font-size: 20px;
    color: $lighterMainColor;
    font-weight: 300;
    border-bottom: 5px;
    .entry-date{
      float: right;
    }
  }
  .post-title:hover {
    color: #8d6e63;
  }
}

.chip {
  color: $secondaryColor;
  background: white;
  border: $secondaryColor solid 1px;
  transition: background-color 0.4s ease;
  transition: border-color 0.4s ease;
  transition: color 0.4s ease;
}

.chip:hover {
  background: $secondaryColor;
  color: #fff;
  border: #e4e4e4 solid 1px;
}

.chip.active {
  background: $secondaryColor;
  color: #fff;
  border: #e4e4e4 solid 1px;
}
