$mainColor: #8d6e63;
$cardColor: #fff;
$textColor: #000;
$lightMainColor: #bcaaa4;
$lighterMainColor: #d7ccc8;
$background: #fff;
$secondaryColor: #26a69a;

$darkMainColor: #3A3A3A;
$darkCardColor: #191919;
$darkTextColor: #e0e0e0;
$darkLightMainColor: #757575;
$darkLighterMainColor: #616161;
$darkBackground: #808080;
$darkSecondaryColor: #00796b;

$facebookColor: #3b5998;
$twitterColor: #55acee;
